<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write My MLA</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Welcome to Write My MLA!</h1>
    <form method="POST" action="/writeletter">
      <label for="issues"
        >1. Please tell me, what is your Issue? Why are you writing your
        MLA?</label
      >
      <input type="text" id="issues" name="issues" /><br />

      <label for="concerns">2. Why is this issue concerning to you?</label>
      <input type="text" id="concerns" name="concerns" /><br />

      <input type="submit" value="Get letter" />
    </form>
    <script src="/scripts/scripts.js"></script>
  </body>
</html>
